* {
  font-family: 'Share Tech Mono', monospace;
}

#drone-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  font-family: 'Share Tech Mono', monospace;
  font-size: 11px;
  width: 400px;
  height: 600px;
  background-color: #0D4F8B;
  color: #4F94CD;
}

#sine-osc-container, #triangle-osc-container,
#sawtooth-osc-container, #pulse-osc-container {
  grid-column: 1/3;
}

#pwm-container {
  grid-column: 2;
  grid-row: 4;
  text-align: center;
}

#sine-vol-container, #triangle-vol-container,
#sawtooth-vol-container, #pulse-vol-container {
  grid-column: 3/3;
  text-align: right;
}

#sine-osc-container, #sine-vol-container {
  grid-row: 1;
}

#triangle-osc-container, #triangle-vol-container {
  grid-row: 2;
}

#sawtooth-osc-container, #sawtooth-vol-container {
  grid-row: 3;
}

#pulse-osc-container, #pulse-vol-container {
  grid-row: 4;
}

#osc-title {
  text-align: left;
}

#vol-title {
  text-align: right;
}

#pwm-title {
  text-align: center;
}
